.error {
  background-image: url("../../assets/icons/error.svg");
  background-repeat: no-repeat;
  background-size: 16px 18px;
  background-position: 98% 50%;
  background-attachment: scroll;
  padding-right: 35px;
}
