.hero {
  height: 540px;
  width: 100%;
  background-image: linear-gradient(
      rgba(66, 66, 66, 0.3),
      rgba(66, 66, 66, 0.3)
    ),
    url("../../assets/images/hero_background.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
