.iconBar {
  display: block;
  width: 25px;
  height: 2px;
  border-radius: 1px;
  background-color: #ffffff;
  transition: transform 0.4s;
}

.iconBar:not(:first-child) {
  margin-top: 4px;
}

.close1,
.close3 {
  background-color: #000000;
}

.close1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}

.close2 {
  opacity: 0;
}

.close3 {
  transform: rotate(45deg) translate(-2px, -4px);
}
