.NavbarOverlay {
  background-color: rgba(0, 0, 0, 0.5);
}

.showOverlay {
  transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}

.hideOverlay {
  transition: visibility 0s linear 0.25s, opacity 0.25s 0s,
    transform linear 0.25s;
}

.showMenu {
  transform: translateX(0);
}

.hideMenu {
  transform: translateX(100%);
}
